* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
}

body {
  color: #333;
}

#block-page {
  width: 100%;
  max-width: 1280px;
  margin: auto;
}

a {
  text-decoration: none;
  color: #333;
}

h1, h2 {
  font-size: 1.6em;
}

header {
  padding: 20px 0 10px;
}
header #logo {
  width: 160px;
  margin: auto;
  display: block;
}

.localisation {
  display: flex;
  justify-content: center;
  padding: 15px;
  background: #e8e8e8;
  box-shadow: inset 0 5px 3px -3px #c2c2c2;
}
.localisation__icon {
  margin: 0 15px;
}
.localisation__field {
  background: none;
  border: none;
  width: 150px;
  font-size: 1em;
  padding-top: 2px;
}

.presentation {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f5f5f5;
  padding: 40px 0;
}
.presentation__title {
  text-align: center;
  margin-bottom: 10px;
  max-width: 300px;
}
@media screen and (min-width: 665px) {
  .presentation__title {
    max-width: none;
  }
}
.presentation p {
  text-align: center;
  font-weight: 400;
  margin-bottom: 15px;
  font-size: 1.1em;
  max-width: 350px;
}
@media screen and (min-width: 665px) {
  .presentation p {
    max-width: none;
  }
}
.presentation__button {
  border: none;
  border-radius: 30px;
  padding: 15px 20px;
  background: linear-gradient(#FF79DA, #9356DC);
  margin: 15px;
  color: white;
  font-weight: 500;
  cursor: pointer;
  box-shadow: 1px 5px 10px 0 #c2c2c2;
}
.presentation__button:hover {
  background: linear-gradient(#ff88de, #9b63df);
  box-shadow: 1px 5px 10px 0 darkgray;
}

.fonctionnement {
  padding: 45px 20px;
}
.fonctionnement__alloptions {
  margin: 30px 0 0 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.fonctionnement__option {
  display: flex;
  width: 100%;
  max-width: 100%;
  background: #f5f5f5;
  padding: 26px 0 23px;
  margin: 0 15px 25px 15px;
  border-radius: 20px;
  box-shadow: 1px 5px 10px 0 #e3e3e3;
}
@media screen and (min-width: 665px) {
  .fonctionnement__option {
    max-width: 45%;
  }
}
@media screen and (min-width: 992px) {
  .fonctionnement__option {
    max-width: 30%;
  }
}
.fonctionnement__option:hover {
  background: #f2eafb;
}
.fonctionnement__option:hover i {
  color: #9356DC;
}
.fonctionnement i {
  margin-right: 30px;
  color: #767676;
}
.fonctionnement p {
  margin-right: 20px;
  margin-left: -12px;
}
.fonctionnement p:first-child {
  color: white;
  background: #9356DC;
  padding: 5px 9px;
  margin-top: -3px;
  border-radius: 50%;
  font-size: 0.8em;
}

.restaurants {
  background: #f5f5f5;
  padding: 45px 10px 60px 10px;
}
.restaurants h2 {
  margin-left: 10px;
}
.restaurants__allcards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.restaurants__card {
  width: 100%;
  max-width: 100%;
  background-color: white;
  margin: 20px 10px 0 10px;
  padding-bottom: 15px;
  border-radius: 15px;
  position: relative;
  box-shadow: 1px 5px 10px 0 #e3e3e3;
}
@media screen and (min-width: 665px) {
  .restaurants__card {
    max-width: 46%;
  }
}
.restaurants__card .nouveau {
  position: absolute;
  top: 0;
  right: 0;
  margin: 15px;
  background: #99E2D0;
  width: 58px;
  padding: 6px 11px;
  font-size: 0.9em;
  border-radius: 2px;
  color: #2c9c81;
  z-index: 2;
}
.restaurants__card .img-container {
  max-height: 175px;
  max-width: 100%;
  overflow: hidden;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.restaurants__card img {
  position: relative;
  width: 100%;
  z-index: 1;
  bottom: 50px;
}
@media screen and (min-width: 665px) {
  .restaurants__card img {
    bottom: 0;
  }
}
@media screen and (min-width: 992px) {
  .restaurants__card img {
    bottom: 100px;
  }
}
.restaurants__card figcaption {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 20px 0 15px;
}
.restaurants__card figcaption h3 {
  font-size: 1.1em;
  margin: 5px 0;
}
.restaurants__card figcaption p {
  font-weight: 400;
}
.restaurants__card figcaption i {
  font-size: 1.4em;
  position: relative;
}
.restaurants__icon--empty {
  left: 27px;
  opacity: 0;
  color: #767676;
}
.restaurants__icon--full {
  background: linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 1;
}

footer {
  background: #2e2e2e;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
footer ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
footer li, footer a {
  list-style: none;
  color: white;
  margin: 0 180px 10px 0;
  font-weight: 400;
}
@media screen and (min-width: 665px) {
  footer li, footer a {
    margin-right: 20px;
  }
}
footer h3 {
  color: white;
  font-family: "Shrikhand", cursive;
  font-size: 1.1em;
  font-weight: 400;
  margin: 0 50px 20px 0;
}
footer .fa-utensils {
  margin-right: 12px;
  font-size: 0.9em;
}
footer .fa-hands-helping {
  font-size: 0.7em;
  margin-right: 10px;
}

/*# sourceMappingURL=style.css.map */
