@charset "UTF-8";
@keyframes loading-background {
  from {
    transform: translatey(0);
    opacity: 1;
  }
  to {
    transform: translatey(-100%);
    opacity: 0;
  }
}
@keyframes circles {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(0);
    opacity: 0;
  }
}
@keyframes loading {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100%);
  }
}
@keyframes plats {
  0%, 50% {
    opacity: 0;
  }
  30% {
    transform: translateY(30%);
  }
}
@keyframes plats-title {
  from {
    transform: translateX(-350%);
  }
}
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
}

body {
  color: #333;
}

.loading-background {
  background: linear-gradient(#FF79DA -90%, #9356DC);
  height: 100%;
  max-height: none;
  width: 100%;
  max-width: 1280px;
  position: fixed;
  z-index: 3;
  animation: loading-background 300ms 2500ms ease-in both;
}

.loading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100px;
  max-height: none;
  height: 100%;
  position: fixed;
  left: 50%;
  margin-left: -50px;
  z-index: 4;
  animation: loading 700ms 3000ms ease-in-out forwards;
}
.loading__circle {
  background: #99E2D0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  animation: circles 700ms ease-in-out 3 alternate both;
}
.loading__circle--1 {
  animation-delay: 233.3333333333ms;
}
.loading__circle--2 {
  animation-delay: 466.6666666667ms;
}
.loading__circle--3 {
  animation-delay: 700ms;
}

#block-page {
  overflow: hidden;
  position: relative;
  width: 100%;
  max-width: 1280px;
  margin: auto;
  z-index: 1;
  transition: all 0s 150ms;
}

.button {
  position: relative;
  border: none;
  border-radius: 30px;
  padding: 15px 20px;
  background: linear-gradient(#FF79DA, #9356DC);
  margin: 15px;
  color: white;
  font-weight: 500;
  cursor: pointer;
  box-shadow: 1px 5px 10px 0 #c2c2c2;
  z-index: 1;
}
.button:active::after {
  opacity: 1;
}
@media screen and (min-width: 992px) {
  .button:hover::after {
    opacity: 1;
  }
}
.button::after {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
  content: "";
  border: none;
  border-radius: 30px;
  cursor: pointer;
  opacity: 0;
  background: linear-gradient(#ff93e1, #a16be0);
  box-shadow: 1px 5px 10px 0 #b5b5b5;
  transition: opacity 250ms ease-in-out;
}

.restaurants__icon--empty {
  color: #767676;
  font-size: 1.5em;
  opacity: 1;
  position: relative;
  left: 27px;
  transition: 100ms ease-in-out 100ms;
}
.restaurants__icon--empty-2 {
  left: 46px;
}

.restaurants__icon--full {
  background: linear-gradient(#FF79DA, #9356DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.5em;
  transform: scale(0);
  opacity: 0;
  transition: all 250ms ease-in-out;
}

#btn-icon, #btn-icon1, #btn-icon2, #btn-icon3, #btn-icon4 {
  position: relative;
  left: 55px;
  width: 25px;
  height: 25px;
  opacity: 0;
}
#btn-icon:checked ~ .restaurants__icon--empty, #btn-icon1:checked ~ .restaurants__icon--empty, #btn-icon2:checked ~ .restaurants__icon--empty, #btn-icon3:checked ~ .restaurants__icon--empty, #btn-icon4:checked ~ .restaurants__icon--empty {
  opacity: 0;
}
#btn-icon:checked ~ .restaurants__icon--full, #btn-icon1:checked ~ .restaurants__icon--full, #btn-icon2:checked ~ .restaurants__icon--full, #btn-icon3:checked ~ .restaurants__icon--full, #btn-icon4:checked ~ .restaurants__icon--full {
  transform: scale(1);
  opacity: 1;
}
@media screen and (min-width: 667px) {
  #btn-icon:hover ~ .restaurants__icon--empty, #btn-icon1:hover ~ .restaurants__icon--empty, #btn-icon2:hover ~ .restaurants__icon--empty, #btn-icon3:hover ~ .restaurants__icon--empty, #btn-icon4:hover ~ .restaurants__icon--empty {
    opacity: 0;
  }
  #btn-icon:hover ~ .restaurants__icon--full, #btn-icon1:hover ~ .restaurants__icon--full, #btn-icon2:hover ~ .restaurants__icon--full, #btn-icon3:hover ~ .restaurants__icon--full, #btn-icon4:hover ~ .restaurants__icon--full {
    transform: scale(1);
    opacity: 1;
  }
}

header {
  display: flex;
  justify-content: center;
  padding: 20px 0 10px;
  position: relative;
}
header #logo {
  width: 160px;
}

footer {
  background: #2e2e2e;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
footer ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
footer li, footer a {
  text-decoration: none;
  list-style: none;
  color: white;
  margin: 0 40% 10px 0;
  font-weight: 400;
  cursor: pointer;
}
@media screen and (min-width: 667px) {
  footer li, footer a {
    margin-right: 20px;
  }
}
footer h3 {
  color: white;
  font-family: "Shrikhand", cursive;
  font-size: 1.1em;
  font-weight: 400;
  margin: 0 50px 20px 0;
}
footer .fa-utensils {
  margin-right: 12px;
  font-size: 0.9em;
}
footer .fa-hands-helping {
  font-size: 0.7em;
  margin-right: 10px;
}

/* Mise en page de "la page d'Accueil" */
/* Champ de recherche "Localisation" */
.localisation {
  display: flex;
  justify-content: center;
  padding: 15px;
  background: #e8e8e8;
  box-shadow: inset 0 5px 3px -3px #c2c2c2;
}
.localisation__icon {
  margin: 0 15px;
}
.localisation__field {
  background: none;
  border: none;
  width: 150px;
  font-size: 1em;
  padding-top: 2px;
}

/* Section "Présentation de l'entreprise" */
.presentation {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f5f5f5;
  padding: 40px 0;
}
.presentation__title {
  font-size: 1.6em;
  text-align: center;
  margin-bottom: 10px;
  max-width: 300px;
}
@media screen and (min-width: 667px) {
  .presentation__title {
    max-width: none;
  }
}
.presentation p {
  text-align: center;
  font-weight: 400;
  margin-bottom: 15px;
  font-size: 1.1em;
  max-width: 350px;
}
@media screen and (min-width: 667px) {
  .presentation p {
    max-width: none;
  }
}

/* Section "Fonctionnement du site" */
.fonctionnement {
  padding: 45px 20px;
}
.fonctionnement h2 {
  font-size: 1.6em;
}
.fonctionnement__alloptions {
  margin: 30px 0 0 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.fonctionnement__option {
  display: flex;
  width: 100%;
  background: #f5f5f5;
  padding: 26px 0 23px;
  margin: 0 15px 25px 15px;
  border-radius: 20px;
  box-shadow: 1px 5px 10px 0 #e3e3e3;
}
@media screen and (min-width: 667px) {
  .fonctionnement__option {
    width: 45%;
  }
}
@media screen and (min-width: 992px) {
  .fonctionnement__option {
    width: 30%;
  }
}
.fonctionnement__option:hover {
  background: #f2eafb;
}
.fonctionnement__option:hover i {
  color: #9356DC;
}
.fonctionnement i {
  margin-right: 30px;
  color: #767676;
}
.fonctionnement p {
  margin-right: 20px;
  margin-left: -12px;
}
.fonctionnement p:first-child {
  color: white;
  background: #9356DC;
  padding: 5px 9px;
  margin-top: -3px;
  border-radius: 50%;
  font-size: 0.8em;
}

/* Section "Cartes des restaurants" */
.restaurants {
  background: #f5f5f5;
  padding: 45px 10px 60px 10px;
}
.restaurants h2 {
  margin-left: 10px;
  font-size: 1.6em;
}
.restaurants__allcards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.restaurants__card {
  width: 100%;
  background-color: white;
  margin: 20px 10px 0 10px;
  padding-bottom: 15px;
  border-radius: 15px;
  position: relative;
  box-shadow: 1px 5px 10px 0 #e3e3e3;
}
@media screen and (min-width: 667px) {
  .restaurants__card {
    width: 46%;
  }
}
.restaurants__card .nouveau {
  position: absolute;
  top: 0;
  right: 0;
  margin: 15px;
  background: #99E2D0;
  width: 58px;
  padding: 6px 11px;
  font-size: 0.9em;
  border-radius: 2px;
  color: #2c9c81;
  z-index: 2;
}
.restaurants__card .img-container {
  max-height: 175px;
  max-width: 100%;
  overflow: hidden;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.restaurants__card img {
  position: relative;
  width: 100%;
  z-index: 1;
  bottom: 50px;
}
@media screen and (min-width: 667px) {
  .restaurants__card img {
    bottom: 0;
  }
}
@media screen and (min-width: 992px) {
  .restaurants__card img {
    bottom: 100px;
  }
}
.restaurants__card figcaption {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 20px 0 15px;
}
.restaurants__card figcaption h3 {
  font-size: 1.1em;
  margin: 5px 0;
}
.restaurants__card figcaption p {
  font-weight: 400;
}

/* Mise en page des pages menus */
#icon-back {
  position: absolute;
  left: 0;
  margin-left: 20px;
  color: #333;
}

.banner {
  max-height: 275px;
  overflow: hidden;
}
.banner img {
  width: 100%;
}
@media screen and (min-width: 667px) {
  .banner img {
    position: relative;
    bottom: 100px;
  }
}
@media screen and (min-width: 992px) {
  .banner img {
    bottom: 300px;
  }
}

.menu {
  background: #f5f5f5;
  position: relative;
  bottom: 50px;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  padding: 30px 15px 50px 15px;
  margin-bottom: -50px;
}
.menu .heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.menu .heading h1 {
  font-family: "Shrikhand", cursive;
  font-weight: 500;
  font-size: 1.8em;
  margin-left: 5px;
  min-width: 280px;
}
.menu .heading .container-icon {
  margin-left: -75px;
}
.menu .heading .fa-heart {
  font-size: 1.4em;
  margin-right: 20px;
}
.menu__section {
  margin: 30px 0 10px 0;
}
.menu__section .section__title {
  font-weight: 400;
  border-bottom: 3px solid #99E2D0;
  width: 40px;
  padding-bottom: 5px;
  margin-left: 5px;
  animation: plats-title 700ms ease-in-out backwards;
}
.menu__section .section__title--0 {
  animation-delay: 0ms;
}
.menu__section .section__title--1 {
  animation-delay: 233ms;
}
.menu__section .section__title--2 {
  animation-delay: 466ms;
}
.menu__allchoices {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.menu__choice {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  margin-top: 15px;
  width: 90%;
  overflow: hidden;
  animation: plats 840ms ease-in-out backwards;
  border-radius: 15px;
  box-shadow: 1px 5px 10px 0 #e8e8e8;
}
.menu__choice:hover .menu__choice--price {
  transform: translateX(0);
}
.menu__choice:hover .menu__choice--name {
  margin-right: 0;
}
.menu__choice:hover i {
  transform: rotate(0);
}
.menu__choice--1 {
  animation-delay: 77.7777777778ms;
}
.menu__choice--2 {
  animation-delay: 155.5555555556ms;
}
.menu__choice--3 {
  animation-delay: 233.3333333333ms;
}
.menu__choice--4 {
  animation-delay: 311.1111111111ms;
}
.menu__choice--5 {
  animation-delay: 388.8888888889ms;
}
.menu__choice--6 {
  animation-delay: 466.6666666667ms;
}
.menu__choice--7 {
  animation-delay: 544.4444444444ms;
}
.menu__choice--8 {
  animation-delay: 622.2222222222ms;
}
.menu__choice--9 {
  animation-delay: 700ms;
}
.menu__choice--10 {
  animation-delay: 777.7777777778ms;
}
.menu__choice--name {
  padding-right: 5px;
  overflow: hidden;
  margin-right: -50px;
  transition: margin-right 500ms ease-in-out;
}
.menu__choice--name h3 {
  margin: 12px 0 5px 12px;
  font-size: 1.1em;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.menu__choice--name p {
  font-weight: 400;
  font-size: 0.9em;
  margin: 0 0 12px 12px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.menu__choice--price {
  display: flex;
  align-items: flex-end;
  transform: translateX(60%);
  transition: transform 500ms ease-in-out;
}
.menu__choice--price .icon-container {
  background: #99E2D0;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
.menu__choice--price i {
  font-size: 1.3em;
  color: white;
  width: 60px;
  height: 69px;
  line-height: 69px;
  text-align: center;
  transform: rotate(360deg);
  transition: transform 500ms ease-in-out;
}
.menu__choice--price p {
  margin: 0 15px 12px 0;
}
@media screen and (min-width: 667px) {
  .menu__choice {
    width: 44%;
    margin: 15px 5px 0;
  }
}
@media screen and (min-width: 992px) {
  .menu__choice {
    width: 29%;
    margin: 15px 5px 15px;
  }
}
.menu .button {
  padding: 15px 50px;
  margin: 35px auto;
  display: block;
  align-self: center;
}

/*# sourceMappingURL=style.css.map */
