
@import "./utils/variables";
@import "./utils/mixins";
@import "./utils/keyframes";
@import "./base/base";
@import "./components/buttons";
@import "./layouts/header";
@import "./layouts/footer";

/* Mise en page de "la page d'Accueil" */

/* Champ de recherche "Localisation" */
.localisation{
    display: flex;
    justify-content: center;
    padding: 15px;
    background: darken($background-color, 5%);
    box-shadow: inset 0 5px 3px -3px $shadow-color;

    &__icon{
        margin: 0 15px;
    }
    &__field{
        background: none;
        border: none;
        width: 150px;
        font-size: 1em;
        padding-top: 2px;
    }
}

/* Section "Présentation de l'entreprise" */
.presentation{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: $background-color;
    padding: 40px 0;
    
    &__title{
        font-size: 1.6em;
        text-align: center;
        margin-bottom: 10px;
        max-width: 300px;
        @include breakpoints-tablet{
        max-width: none;
        }
    }
    p{
        text-align: center;
        font-weight: $regular;
        margin-bottom: 15px;
        font-size: 1.1em;
        max-width: 350px;
        @include breakpoints-tablet{
            max-width: none;
            }
    }
}

/* Section "Fonctionnement du site" */
.fonctionnement{
    padding: 45px 20px;
    h2{
        font-size: 1.6em;
    }
    &__alloptions{
        margin: 30px 0 0 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    &__option{
        display: flex;
        width: 100%;
        background: $background-color;
        padding: 26px 0 23px;
        margin: 0 15px 25px 15px;
        border-radius: 20px;
        @include box-shadow(darken($background-color, 7%));
        @include breakpoints-tablet{
            width: 45%;
        }
        @include breakpoints-desktop{
            width: 30%;
        }
        &:hover{
            background: lighten($primary-color, 35%);
        }
        &:hover{
            i{
                color: $primary-color;
            }
        }
    }
    i{
        margin-right: 30px;
        color: $icon-color;
    }
    p{
        margin-right: 20px;
        margin-left: -12px;
    }
    p:first-child{
        color: white;
        background: $primary-color;
        padding: 5px 9px;
        margin-top: -3px;
        border-radius: 50%;
        font-size: 0.8em;
    }
}

/* Section "Cartes des restaurants" */
.restaurants{
    background: $background-color;
    padding: 45px 10px 60px 10px;
    h2{
        margin-left: 10px;
        font-size: 1.6em;
    }
    &__allcards{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    &__card{
        width: 100%;
        background-color: white;
        margin: 20px 10px 0 10px;
        padding-bottom: 15px;
        border-radius: 15px;
        position: relative;
        @include box-shadow(darken($background-color, 7%));
        @include breakpoints-tablet{
            width: 46%;
        }
        .nouveau{
            position: absolute;
            top: 0;
            right: 0;
            margin: 15px;
            background: $tertiary-color;
            width: 58px;
            padding: 6px 11px;
            font-size: 0.9em;
            border-radius: 2px;
            color: darken($tertiary-color, 35%);
            z-index: 2;
        }
        .img-container{
            max-height: 175px;
            max-width: 100%;
            overflow: hidden;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
        }
        img{
            position: relative;
            width: 100%;
            z-index: 1;
            bottom: 50px;
            @include breakpoints-tablet{
                bottom: 0;
            }
            @include breakpoints-desktop{
                bottom: 100px;
            }
        }
        figcaption{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 10px 20px 0 15px;
            h3{
                font-size: 1.1em;
                margin: 5px 0;
            }
            p{
                font-weight: $regular;
            }
        }
    }
}

/* Mise en page des pages menus */

#icon-back{
    position: absolute;
    left: 0;
    margin-left: 20px;
    color: $text-color;
}
.banner{
    max-height: 275px;
    overflow: hidden;
    img{
        width: 100%;
        @include breakpoints-tablet{
            position: relative;
            bottom: 100px;
        }
        @include breakpoints-desktop{
            bottom: 300px;    
        }    
    }
}
.menu{
    background: $background-color;
    position: relative;
    bottom: 50px;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    padding: 30px 15px 50px 15px;
    margin-bottom: -50px;
    .heading{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        h1{
            font-family: 'Shrikhand', cursive;
            font-weight: 500;
            font-size: 1.8em;
            margin-left: 5px;
            min-width: 280px;
        }
        .container-icon{
            margin-left: -75px;
        }
        .fa-heart{
            font-size: 1.4em;
            margin-right: 20px;
        }
    }
    &__section{
        margin: 30px 0 10px 0;
        .section__title{
            font-weight: $regular;
            border-bottom: 3px solid $tertiary-color;
            width: 40px;
            padding-bottom: 5px;
            margin-left: 5px;
            animation: plats-title $anim-duration ease-in-out backwards;
            @for $i from 0 through 2{
                &--#{$i}{
                    animation-delay: 233ms * $i;
                }
            }
        }
    }
    &__allchoices{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    &__choice{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: white;
        margin-top: 15px;
        width: 90%;
        overflow: hidden;
        animation: plats $anim-duration*1.2 ease-in-out backwards;
        &:hover{
            .menu__choice--price{
                transform: translateX(0);
            }
            .menu__choice--name{
                margin-right: 0;
            }
            i{
                transform: rotate(0);
            }
        }
        @for $i from 1 through 10 {
            &--#{$i}{
                animation-delay: $anim-delay/3 * $i;
            }
        }
        border-radius: 15px;
        @include box-shadow(lighten($shadow-color, 15%));
        
        &--name{
            padding-right: 5px;
            overflow: hidden;
            margin-right: -50px;
            transition: margin-right 500ms ease-in-out;
            h3{
                margin: 12px 0 5px 12px;
                font-size: 1.1em;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }
            p{
                font-weight: $regular;
                font-size: 0.9em;
                margin: 0 0 12px 12px;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }
        }
        &--price{
            display: flex;
            align-items: flex-end;
            transform: translateX(60%);
            transition: transform 500ms ease-in-out;
            .icon-container{
                background: $tertiary-color;
                border-top-right-radius: 15px;
                border-bottom-right-radius: 15px;
            }
            i{
                font-size: 1.3em;
                color: white;
                width: 60px;
                height: 69px;
                line-height: 69px;
                text-align: center;
                transform: rotate(360deg);
                transition: transform 500ms ease-in-out;
            }
            p{
                margin: 0 15px 12px 0;
            }
        }
        @include breakpoints-tablet{
            width: 44%;
            margin: 15px 5px 0;
        }
        @include breakpoints-desktop{
            width: 29%;
            margin: 15px 5px 15px;
        }            
    }
    .button{
        padding: 15px 50px;
        margin: 35px auto;
        display: block;
        align-self: center;
    }
}
