
$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$background-color: #f5f5f5;
$shadow-color: darken($background-color, 20%);
$button-gradient: linear-gradient($secondary-color, $primary-color);
$icon-color: darken($background-color, 50%);
$regular: 400;
$medium: 500;
$bold: 700;
$breakpoints: (desktop: 992px, tablet: 665px);

@mixin box-shadow($shadow-color) {
    box-shadow: 1px 5px 10px 0 ($shadow-color);
}
@mixin media-query-tablet {
    @media screen and (min-width: map-get($breakpoints, tablet)){
        @content;
    }
}
@mixin media-query-desktop {
    @media screen and (min-width: map-get($breakpoints, desktop)){
        @content;
    }
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: $bold;
    font-size: 16px;
}

body{
    color: #333;
}
#block-page{
    width: 100%;
    max-width: 1280px;
    margin: auto;
}
a{
    text-decoration: none;
    color: #333;
}
h1, h2{
    font-size: 1.6em;
}
header{
    padding: 20px 0 10px;
    #logo{
        width: 160px;
        margin: auto;
        display: block;
    }
}
.localisation{
    display: flex;
    justify-content: center;
    padding: 15px;
    background: darken($background-color, 5%);
    box-shadow: inset 0 5px 3px -3px $shadow-color;

    &__icon{
        margin: 0 15px;
    }
    &__field{
        background: none;
        border: none;
        width: 150px;
        font-size: 1em;
        padding-top: 2px;
    }
}
.presentation{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: $background-color;
    padding: 40px 0;
    
    &__title{
        text-align: center;
        margin-bottom: 10px;
        max-width: 300px;
        @include media-query-tablet{
        max-width: none;
        }
    }
    p{
        text-align: center;
        font-weight: $regular;
        margin-bottom: 15px;
        font-size: 1.1em;
        max-width: 350px;
        @include media-query-tablet{
            max-width: none;
            }
    }
    &__button{
        border: none;
        border-radius: 30px;
        padding: 15px 20px;
        background: $button-gradient;
        margin: 15px;
        color: white;
        font-weight: $medium;
        cursor: pointer;
        @include box-shadow($shadow-color);
        &:hover{
            background: linear-gradient(lighten($secondary-color, 3%), lighten($primary-color, 3%));
            @include box-shadow(darken($shadow-color, 10%))
        }
    }
}

.fonctionnement{
    padding: 45px 20px;

    &__alloptions{
        margin: 30px 0 0 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    &__option{
        display: flex;
        width: 100%;
        max-width: 100%;
        background: $background-color;
        padding: 26px 0 23px;
        margin: 0 15px 25px 15px;
        border-radius: 20px;
        @include box-shadow(darken($background-color, 7%));
        @include media-query-tablet{
            max-width: 45%;
        }
        @include media-query-desktop{
            max-width: 30%;
        }
        &:hover{
            background: lighten($primary-color, 35%);
        }
        &:hover{
            i{
                color: $primary-color;
            }
        }
    }
    i{
        margin-right: 30px;
        color: $icon-color;
    }
    p{
        margin-right: 20px;
        margin-left: -12px;
    }
    p:first-child{
        color: white;
        background: $primary-color;
        padding: 5px 9px;
        margin-top: -3px;
        border-radius: 50%;
        font-size: 0.8em;
    }
}
.restaurants{
    background: $background-color;
    padding: 45px 10px 60px 10px;
    h2{
        margin-left: 10px;
    }
    &__allcards{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    &__card{
        width: 100%;
        max-width: 100%;
        background-color: white;
        margin: 20px 10px 0 10px;
        padding-bottom: 15px;
        border-radius: 15px;
        position: relative;
        @include box-shadow(darken($background-color, 7%));
        @include media-query-tablet{
            max-width: 46%;
        }
        .nouveau{
            position: absolute;
            top: 0;
            right: 0;
            margin: 15px;
            background: $tertiary-color;
            width: 58px;
            padding: 6px 11px;
            font-size: 0.9em;
            border-radius: 2px;
            color: darken($tertiary-color, 35%);
            z-index: 2;
        }
        .img-container{
            max-height: 175px;
            max-width: 100%;
            overflow: hidden;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
        }
        img{
            position: relative;
            width: 100%;
            z-index: 1;
            bottom: 50px;
            @include media-query-tablet{
                bottom: 0;
            }
            @include media-query-desktop{
                bottom: 100px;
            }
        }
        figcaption{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 10px 20px 0 15px;
            h3{
                font-size: 1.1em;
                margin: 5px 0;
            }
            p{
                font-weight: $regular;
            }
            i{
                font-size: 1.4em;
                position: relative;
            }
        }
    }
    &__icon--empty{
        left: 27px;
        opacity: 0;
        color: $icon-color;
    }
    &__icon--full{
        background: linear-gradient($primary-color, $secondary-color);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        opacity: 1;
    }
}

footer{
    background: darken($background-color, 78%);
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    li, a{
        list-style: none;
        color: white;
        margin: 0 180px 10px 0;
        font-weight: $regular;
        @include media-query-tablet{
            margin-right: 20px;
        }
    }
    h3{
        color: white;
        font-family: 'Shrikhand', cursive;
        font-size: 1.1em;
        font-weight: $regular;
        margin: 0 50px 20px 0;
    }
    .fa-utensils{
        margin-right: 12px;
        font-size: 0.9em;
    }
    .fa-hands-helping{
        font-size: 0.7em;
        margin-right: 10px;
    }
}
