.button{
    border: none;
    border-radius: 30px;
    padding: 15px 20px;
    background: $button-gradient;
    margin: 15px;
    color: white;
    font-weight: $medium;
    cursor: pointer;
    @include box-shadow($shadow-color);
    &:hover{
        background: linear-gradient(lighten($secondary-color, 3%), lighten($primary-color, 3%));
        @include box-shadow(darken($shadow-color, 10%))
    }
}