.button{
    position: relative;
    border: none;
    border-radius: 30px;
    padding: 15px 20px;
    background: $button-gradient;
    margin: 15px;
    color: white;
    font-weight: $medium;
    cursor: pointer;
    @include box-shadow($shadow-color);
    z-index: 1;
    &:active{
        &::after{
            opacity: 1;
        }
    }
    &:hover{
        @include breakpoints-desktop{
            &::after{
                opacity: 1;
            }
        }
    }
    &::after{
        position: absolute;
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
        z-index: -1;
        content: "";
        border: none;
        border-radius: 30px;
        cursor: pointer;
        opacity: 0;
        background: linear-gradient(lighten($secondary-color, 5%), lighten($primary-color, 5%));
        @include box-shadow(darken($shadow-color, 15%));
        transition: opacity 250ms ease-in-out;
    }
}

.restaurants__icon--empty{
    color: $icon-color;
    font-size: 1.5em;
    opacity: 1;
    position: relative;
    left: 27px;
    transition: 100ms ease-in-out 100ms;
    &-2{
        left: 46px;
    }
}
.restaurants__icon--full{
    background: $button-gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.5em;
    transform: scale(0);
    opacity: 0;
    transition: all 250ms ease-in-out;
}
#btn-icon, #btn-icon1, #btn-icon2, #btn-icon3, #btn-icon4{
    position: relative;
    left: 55px;
    width: 25px;
    height: 25px;
    opacity: 0;
    &:checked{
        ~ .restaurants__icon--empty{
            opacity: 0;
        }
        ~ .restaurants__icon--full{
            transform: scale(1);
            opacity: 1;
        }
    }
    &:hover{
        @include breakpoints-desktop{
            ~ .restaurants__icon--empty{
                opacity: 0;
            }
            ~ .restaurants__icon--full{
                transform: scale(1);
                opacity: 1;
            }
        }
    }
}