*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: $bold;
    font-size: 16px;
}

body{
    color: $text-color;
}

#block-page{
    overflow: hidden;
    position: relative;
    width: 100%;
    max-width: 1280px;
    margin: auto;
    z-index: 1;
    transition: all 0s 150ms;
}