* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
}

body {
  color: #333;
}

#block-page {
  width: 100%;
  max-width: 375px;
  margin: auto;
}

a {
  text-decoration: none;
  color: #333;
}

h1, h2 {
  font-size: 1.6em;
}

header {
  padding: 20px 0 10px;
}
header #logo {
  width: 160px;
  margin: auto;
  display: block;
}

.localisation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 15px;
  background: #e8e8e8;
  -webkit-box-shadow: inset 0 5px 3px -3px #c2c2c2;
          box-shadow: inset 0 5px 3px -3px #c2c2c2;
}
.localisation__icon {
  margin: 0 15px;
}
.localisation__field {
  background: none;
  border: none;
  width: 150px;
  font-size: 1em;
  padding-top: 2px;
}

.presentation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #f5f5f5;
  padding: 40px 0;
}
.presentation__title {
  text-align: center;
  margin-bottom: 10px;
}
.presentation p {
  text-align: center;
  font-weight: 400;
  margin-bottom: 15px;
  font-size: 1.1em;
}
.presentation__button {
  border: none;
  border-radius: 30px;
  padding: 15px 20px;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: -o-linear-gradient(#FF79DA, #9356DC);
  background: linear-gradient(#FF79DA, #9356DC);
  margin: 15px;
  color: white;
  font-weight: 500;
  cursor: pointer;
  -webkit-box-shadow: 1px 5px 10px 0 #c2c2c2;
          box-shadow: 1px 5px 10px 0 #c2c2c2;
}
.presentation__button:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#ff88de), to(#9b63df));
  background: -o-linear-gradient(#ff88de, #9b63df);
  background: linear-gradient(#ff88de, #9b63df);
  -webkit-box-shadow: 1px 5px 10px 0 darkgray;
          box-shadow: 1px 5px 10px 0 darkgray;
}

.fonctionnement {
  padding: 45px 20px;
}
.fonctionnement__alloptions {
  margin: 30px 0 30px 10px;
}
.fonctionnement__option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #f5f5f5;
  padding: 26px 0 23px;
  margin-bottom: 25px;
  border-radius: 20px;
  -webkit-box-shadow: 1px 5px 10px 0 #e3e3e3;
          box-shadow: 1px 5px 10px 0 #e3e3e3;
}
.fonctionnement__option:hover {
  background: #f2eafb;
}
.fonctionnement__option:hover i {
  color: #9356DC;
}
.fonctionnement i {
  margin-right: 30px;
  color: #767676;
}
.fonctionnement p {
  margin-right: 20px;
  margin-left: -10px;
}
.fonctionnement p:first-child {
  color: white;
  background: #9356DC;
  padding: 5px 9px;
  margin-top: -3px;
  border-radius: 50%;
  font-size: 0.8em;
}

.restaurants {
  background: #f5f5f5;
  padding: 45px 20px;
}
.restaurants__allcards {
  margin: 20px 0;
}
.restaurants__card {
  background-color: white;
  margin-bottom: 20px;
  padding-bottom: 15px;
  border-radius: 15px;
  position: relative;
  -webkit-box-shadow: 1px 5px 10px 0 #e3e3e3;
          box-shadow: 1px 5px 10px 0 #e3e3e3;
}
.restaurants__card .nouveau {
  position: absolute;
  bottom: 208px;
  left: 72%;
  background: #99E2D0;
  width: 58px;
  padding: 6px 11px;
  font-size: 0.9em;
  border-radius: 2px;
  color: #2c9c81;
  z-index: 2;
}
.restaurants__card .img-container {
  max-height: 175px;
  max-width: 335px;
  overflow: hidden;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.restaurants__card img {
  position: relative;
  width: 340px;
  bottom: 50px;
  z-index: 1;
}
.restaurants__card figcaption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 20px 0 15px;
}
.restaurants__card figcaption h3 {
  font-size: 1.1em;
  margin: 5px 0;
}
.restaurants__card figcaption p {
  font-weight: 400;
}
.restaurants__card figcaption i {
  font-size: 1.4em;
  position: relative;
}
.restaurants__icon--empty {
  left: 27px;
  opacity: 0;
  color: #767676;
}
.restaurants__icon--full {
  background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
  background: -o-linear-gradient(#9356DC, #FF79DA);
  background: linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 1;
}

footer {
  background: #2e2e2e;
  padding: 20px;
}
footer li, footer a {
  list-style: none;
  color: white;
  margin-bottom: 10px;
  font-weight: 400;
}
footer h3 {
  color: white;
  font-family: "Shrikhand", cursive;
  font-size: 1.1em;
  font-weight: 400;
  margin-bottom: 20px;
}
footer .fa-utensils {
  margin-right: 12px;
  font-size: 0.9em;
}
footer .fa-hands-helping {
  font-size: 0.7em;
  margin-right: 10px;
}

/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIi4uLy4uL3Nhc3MvbWFpbi5zY3NzIiwiLi4vc3R5bGUuY3NzIl0sIm5hbWVzIjpbXSwibWFwcGluZ3MiOiJBQWdCQTtFQUNJLFNBQUE7RUFDQSxVQUFBO0VBQ0EsaUNBQUE7RUFDQSxnQkFWRztFQVdILGVBQUE7QUNmSjs7QURpQkE7RUFDSSxXQUFBO0FDZEo7O0FEZ0JBO0VBQ0ksV0FBQTtFQUNBLGdCQUFBO0VBQ0EsWUFBQTtBQ2JKOztBRGVBO0VBQ0kscUJBQUE7RUFDQSxXQUFBO0FDWko7O0FEY0E7RUFDSSxnQkFBQTtBQ1hKOztBRGFBO0VBQ0ksb0JBQUE7QUNWSjtBRFdJO0VBQ0ksWUFBQTtFQUNBLFlBQUE7RUFDQSxjQUFBO0FDVFI7O0FEWUE7RUFDSSxvQkFBQTtFQUFBLG9CQUFBO0VBQUEsYUFBQTtFQUNBLHdCQUFBO01BQUEscUJBQUE7VUFBQSx1QkFBQTtFQUNBLGFBQUE7RUFDQSxtQkFBQTtFQUNBLGdEQUFBO1VBQUEsd0NBQUE7QUNUSjtBRFdJO0VBQ0ksY0FBQTtBQ1RSO0FEV0k7RUFDSSxnQkFBQTtFQUNBLFlBQUE7RUFDQSxZQUFBO0VBQ0EsY0FBQTtFQUNBLGdCQUFBO0FDVFI7O0FEWUE7RUFDSSxvQkFBQTtFQUFBLG9CQUFBO0VBQUEsYUFBQTtFQUNBLDRCQUFBO0VBQUEsNkJBQUE7TUFBQSwwQkFBQTtVQUFBLHNCQUFBO0VBQ0EseUJBQUE7TUFBQSxzQkFBQTtVQUFBLG1CQUFBO0VBQ0EsbUJBaEVlO0VBaUVmLGVBQUE7QUNUSjtBRFVJO0VBQ0ksa0JBQUE7RUFDQSxtQkFBQTtBQ1JSO0FEVUk7RUFDSSxrQkFBQTtFQUNBLGdCQXBFRTtFQXFFRixtQkFBQTtFQUNBLGdCQUFBO0FDUlI7QURVSTtFQUNJLFlBQUE7RUFDQSxtQkFBQTtFQUNBLGtCQUFBO0VBQ0EsdUZBOUVVO0VBOEVWLGdEQTlFVTtFQThFViw2Q0E5RVU7RUErRVYsWUFBQTtFQUNBLFlBQUE7RUFDQSxnQkE5RUM7RUErRUQsZUFBQTtFQTNFSiwwQ0FBQTtVQUFBLGtDQUFBO0FDb0VKO0FEU1E7RUFDSSx1RkFBQTtFQUFBLGdEQUFBO0VBQUEsNkNBQUE7RUE5RVIsMkNBQUE7VUFBQSxtQ0FBQTtBQ3dFSjs7QURXQTtFQUNJLGtCQUFBO0FDUko7QURVSTtFQUNJLHdCQUFBO0FDUlI7QURVSTtFQUNJLG9CQUFBO0VBQUEsb0JBQUE7RUFBQSxhQUFBO0VBQ0EsbUJBcEdXO0VBcUdYLG9CQUFBO0VBQ0EsbUJBQUE7RUFDQSxtQkFBQTtFQTlGSiwwQ0FBQTtVQUFBLGtDQUFBO0FDdUZKO0FEU1E7RUFDSSxtQkFBQTtBQ1BaO0FEVVk7RUFDQSxjQWpISTtBQ3lHaEI7QURZSTtFQUNJLGtCQUFBO0VBQ0EsY0FqSEs7QUN1R2I7QURZSTtFQUNJLGtCQUFBO0VBQ0Esa0JBQUE7QUNWUjtBRFlJO0VBQ0ksWUFBQTtFQUNBLG1CQS9IUTtFQWdJUixnQkFBQTtFQUNBLGdCQUFBO0VBQ0Esa0JBQUE7RUFDQSxnQkFBQTtBQ1ZSOztBRGFBO0VBQ0ksbUJBcEllO0VBcUlmLGtCQUFBO0FDVko7QURZSTtFQUNJLGNBQUE7QUNWUjtBRFlJO0VBQ0ksdUJBQUE7RUFDQSxtQkFBQTtFQUNBLG9CQUFBO0VBQ0EsbUJBQUE7RUFDQSxrQkFBQTtFQXRJSiwwQ0FBQTtVQUFBLGtDQUFBO0FDNkhKO0FEV1E7RUFDSSxrQkFBQTtFQUNBLGFBQUE7RUFDQSxTQUFBO0VBQ0EsbUJBdEpLO0VBdUpMLFdBQUE7RUFDQSxpQkFBQTtFQUNBLGdCQUFBO0VBQ0Esa0JBQUE7RUFDQSxjQUFBO0VBQ0EsVUFBQTtBQ1RaO0FEV1E7RUFDSSxpQkFBQTtFQUNBLGdCQUFBO0VBQ0EsZ0JBQUE7RUFDQSw0QkFBQTtFQUNBLDZCQUFBO0FDVFo7QURXUTtFQUNJLGtCQUFBO0VBQ0EsWUFBQTtFQUNBLFlBQUE7RUFDQSxVQUFBO0FDVFo7QURXUTtFQUNJLG9CQUFBO0VBQUEsb0JBQUE7RUFBQSxhQUFBO0VBQ0EseUJBQUE7TUFBQSxzQkFBQTtVQUFBLDhCQUFBO0VBQ0EseUJBQUE7TUFBQSxzQkFBQTtVQUFBLG1CQUFBO0VBQ0Esd0JBQUE7QUNUWjtBRFVZO0VBQ0ksZ0JBQUE7RUFDQSxhQUFBO0FDUmhCO0FEVVk7RUFDSSxnQkFoTE47QUN3S1Y7QURVWTtFQUNJLGdCQUFBO0VBQ0Esa0JBQUE7QUNSaEI7QURZSTtFQUNJLFVBQUE7RUFDQSxVQUFBO0VBQ0EsY0E1TEs7QUNrTGI7QURZSTtFQUNJLHVGQUFBO0VBQUEsZ0RBQUE7RUFBQSw2Q0FBQTtFQUNBLDZCQUFBO0VBQ0Esb0NBQUE7RUFDQSxVQUFBO0FDVlI7O0FEY0E7RUFDSSxtQkFBQTtFQUNBLGFBQUE7QUNYSjtBRGFJO0VBQ0ksZ0JBQUE7RUFDQSxZQUFBO0VBQ0EsbUJBQUE7RUFDQSxnQkE3TUU7QUNrTVY7QURhSTtFQUNJLFlBQUE7RUFDQSxpQ0FBQTtFQUNBLGdCQUFBO0VBQ0EsZ0JBbk5FO0VBb05GLG1CQUFBO0FDWFI7QURhSTtFQUNJLGtCQUFBO0VBQ0EsZ0JBQUE7QUNYUjtBRGFJO0VBQ0ksZ0JBQUE7RUFDQSxrQkFBQTtBQ1hSIiwiZmlsZSI6InN0eWxlLmNzcyJ9 */